flyway.driver=com.mysql.jdbc.Driver
flyway.url=jdbc:mysql://localhost:3306/tenant2?useSSL=false&allowPublicKeyRetrieval=true
flyway.user=tenant2
flyway.password=tenant2123
flyway.connectRetries=10
flyway.initSql=
flyway.skipDefaultCallbacks=false
flyway.baselineVersion=1.0
flyway.baselineDescription=Base Migration
flyway.workingDirectory=.
flyway.createSchemas=true